<h2><%= character.name %></h2>
<a href="/characters/<%= character.id %>/edit">Edit</a>
<%- include("../partials/deleteForm", { url: `/characters/${ character.id }` })
%> <% if (movieByCharacter.length > 0) { %>
<h2>Movie with <%= character.name %></h2>
<% movieByCharacter.forEach(movie => { %>
<img height="150" width="100" src="<%= movie.coverImagePath %>" />
<% }); %> <% } %>
